
dy {
    counter-reset: line;
    font-family: monospace;
}

span.line {
    display: block;
    line-height: 1.2rem;
}

span.line:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 1em;
    margin-right: .5em;
    color: #888;
    width: 2.5em;
    text-align: right;
}

.method {
    color: black;
}

.version {
    color: black;
}

.section-header {
    color: darkmagenta;
}

.query-type {
    color: teal;
}

.predicate-type {
    color: darkblue;
}

.string {
    color: darkgreen;
}

.comment {
    color: dimgray;
}

