pre {
    padding: 0;
    margin: 0;
}

code {
    font-family: monospace;
    font-size: 0.825rem;
    line-height: 1.2rem;
}

.method {
    color: black;
}

.url {
    color: darkblue;
}

.version {
    color: black;
}

.number {
    color: blue;
}

.section-header {
    color: darkmagenta;
}

.query-type {
    color: teal;
}

.filter-type {
    color: darkblue;
}

.not {
    color: darkblue;
}

.predicate-type {
    color: darkblue;
}

.string {
    color: darkgreen;
}

.multiline {
    color: darkgreen;
}

.comment {
    color: dimgray;
}

.name {
    color: darkgreen;
}

.json {
    color: darkgreen;
}

.xml {
    color: darkgreen;
}

.base64 {
    color: darkgreen;
}

.hex {
    color: darkgreen;
}

.filename {
    color: darkgreen;
}

.cookie-value {
    color: darkgreen;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #19191c;
        color: #c2c2c2;
    }

    .method, .version {
        color: #c2c2c2;
    }

    .url, .filter-type, .not, .predicate-type {
        color: #34a7ff;
    }

    .number {
        color: lime;
    }

    .section-header {
        color: #ff0288;
    }

    .query-type {
        color: cyan;
    }

    .string, .multiline, .name, .json, .xml, .base64, .hex, .filename, .cookie-value {
        color: lime;
    }

    .comment {
        color: #444;
    }
}