.date {
    margin-bottom: 10px;
}

thead {
    font-weight: bolder;
}

td {
    padding: 3px 5px;
}

.summary {
    padding: 10px;
}
.success, .success a {
    color: green;
}

.failure, .failure a {
    color: red;
}





