body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

h2 {
    color: #ff0288;
    font-size: 2.5rem;
}

.summary {
    margin: 32px 0 32px 0;
    font-size: 1.25rem;
}

.date {
    margin-bottom: 20px;
}

td {
    padding: 4px 8px 4px 0;
}

thead {
    font-weight: bold;
}

.success, .success a {
    color: green;
}

.failure, .failure a {
    color: red;
}