asgiref==3.5.0
beautifulsoup4==4.11.1
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
click==8.1.2
cryptography==36.0.2
Flask==2.0.3
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.1
kaitaistruct==0.9
ldap3==2.9.1
lxml==4.9.1
MarkupSafe==2.1.1
mitmproxy==8.0.0
msgpack==1.0.3
passlib==1.7.4
protobuf==3.19.4
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tornado==6.1
urwid==2.1.2
Werkzeug==2.0.3
wsproto==1.1.0
zstandard==0.17.0
