body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.report-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.report-nav-links {
    margin-bottom: 20px;
}

.report-nav a {
    color: royalblue;
    margin-right: 20px;
}

.report-nav-summary > div {
    display: flex;
}

.report-nav-summary .item-name {
    min-width: 100px;
    font-weight: bold;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: red 4px solid;
}

.error-desc {
    background: #f5f5f5;
}

.error-desc pre {
    font-size: 0.8rem;
    padding: 0.8rem;
    overflow-x: auto;
}

.line-error {
    border-bottom: red 2px dashed;
}

.line-error::after {
    content: " ⛔️"
}

.file-container {
    display: flex;
    padding: 0;
    border: solid 1px #dcdcde;
}

.line-numbers {
    text-align: right;
    padding: 8px 10px;
    border-right: solid 1px #dcdcde;
    background: #fbfafd;
}

.line-numbers a {
    color: #89888d;
    text-decoration: none;
}

.line-numbers a:hover {
    text-decoration: underline;
}

.file {
    padding: 8px 10px;
    overflow: auto;
    overflow-y: hidden;
}

.success, .success a {
    color: green;
}

.failure, .failure a {
    color: red;
}
