.report-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.report-nav-links {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
}

.report-nav a {
    color: royalblue;
    margin-right: 20px;
}

.report-nav a[aria-selected="true"] {
    color: #ff0288;
}

.report-nav-summary > div {
    display: flex;
}

.report-nav-summary .item-name {
    min-width: 100px;
    font-weight: bold;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: red 4px solid;
}

.error-desc {
    background: #f5f5f5;
}

.error-desc pre {
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0.75rem;
    padding: 0.8rem;
    overflow-x: auto;
}

.error-desc pre code {
    font-size: 0.8rem;
    line-height: 1.2;
}

.success, .success a {
    color: green;
}

.failure, .failure a {
    color: red;
}

@media (prefers-color-scheme: dark) {
    .report-nav a {
        color: #34a7ff;
    }
    
    .success, .success a {
        color: green;
    }

    .report-nav a[aria-selected="true"] {
        color: #ff0288;
    }

    .error-desc {
        background: #27272c;
    }
}
