body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #ff0288;
    font-size: 2.5rem;
}

.summary {
    margin: 32px 0 32px 0;
    font-size: 1.25rem;
}

.date {
    margin-bottom: 20px;
}

td {
    padding: 4px 8px 4px 0;
}

thead {
    font-weight: bold;
}

.success, .success a {
    color: green;
}

.failure, .failure a {
    color: red;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f5f5f5;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 1.125rem;
        line-height: 1.4;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        color: #ff62b0;
        font-size: 2.5rem;
    }

    .summary {
        margin: 32px 0 32px 0;
        font-size: 1.25rem;
        color: #f5f5f5;
    }

    .date {
        margin-bottom: 20px;
        color: #f5f5f5;
    }

    td {
        padding: 4px 8px 4px 0;
        color: #f5f5f5;
    }

    thead {
        font-weight: bold;
        color: #f5f5f5;
    }

    .success, .success a {
        color: #00ff00;
    }

    .failure, .failure a {
        color: #ff0000;
    }
}