body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h4:target {
    color: #ff0288;
}

table {
    display: block;
    font-size: 15px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    margin-top: 16px;
    margin-bottom: 16px;
}

th, td {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

th {
    padding: 6px 8px;
    text-align: left;
    background: #f5f5f5;
}

td {
    padding: 6px 8px;
    vertical-align: text-top;
}

.name {
    width: 120px;
    font-weight: bold;
    background: #fbfafd;
}

.value {
    width: 800px;
    word-break: break-all
}

details {
    margin-bottom: 20px;
}

summary {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: bold;
}