body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dcdcde;
    display: flex;
}

.calls {
    position: sticky;
    left: 0;
    right: 0;
    width: 260px;
    flex-shrink: 0;
}

.waterfall {
    overflow: auto;
    overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f5f5f5;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 1.125rem;
        line-height: 1.4;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #121212;
    }

    .timeline-container {
        max-width: 1400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #444;
        display: flex;
        background-color: #121212;
    }

    .calls {
        position: sticky;
        left: 0;
        right: 0;
        width: 260px;
        flex-shrink: 0;
        background-color: #1e1e1e;
    }

    .waterfall {
        overflow: auto;
        overflow-y: hidden;
        background-color: #121212;
    }

    .call-detail > g text:first-of-type {
       fill: #fff
    }

    .call-detail > g text:nth-of-type(2) {
       fill: #a7a7a7
    }
    
    .call-detail rect:nth-of-type(2) {
        fill: #1e1e1e;
    }

    .call-detail use text {
        fill: #fff;
    }

    .calls > svg:first-of-type rect:first-of-type {
        fill: #121212;
    }
}

