body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dcdcde;
    display: flex;
}

.calls {
    position: sticky;
    left: 0;
    right: 0;
    width: 260px;
    flex-shrink: 0;
}

.waterfall {
    overflow: auto;
    overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #19191c;
        color: #c2c2c2;
    }

    .container {
        background-color: #19191c;
    }

    .timeline-container {
        border: solid 1px #444;
        background-color: #19191c;
    }

    .calls {
        background-color: #1e1e1e;
    }

    .waterfall {
        background-color: #19191c;
    }

    .call-detail > g text:first-of-type {
       fill: #fff;
    }

    .call-detail > g text:nth-of-type(2) {
       fill: #a7a7a7;
    }
    
    .call-detail rect:nth-of-type(2) {
        fill: #19191c;
    }

    .calls svg:first-of-type rect:first-of-type {
        fill: #19191c;
    }

    .waterfall svg:first-of-type g:first-of-type g:first-of-type rect {
        fill: #444;
    }

    .timeline-container {
        border-color: #fff;
    }
}
