name: check
on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      branch:
        description: "ref branch for this workflow"
        default: "master"
        required: true
        type: string

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:

  checks:
    runs-on: ubuntu-24.04
    steps:

    - name: Zizmor
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: success() || failure()
      run: bin/check/zizmor.sh --github-token ${GITHUB_TOKEN} .github/workflows/*.yml
    - name: Check completion files
      if: success() || failure()
      run: bin/check/completion.sh
